html {
  box-sizing: border-box
}

* {
  font-family: 'Quicksand', sans-serif;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
/* :root {
    font-size: 62.5%
} */

body {
  background-color: #1DB954;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  background-color: white;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 3.6rem;
}

#artistsForm {
  color: white;
  background-color: #343A40;
  margin: 1%;
  padding: 1%;
  border-radius: 10px;
}

.albumArt {
  height: 20%;
  width: 20%;
  border-radius: 5px;
}

.songRow {
  font-size: 22px;
  margin: 0;
}

.playlistName {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}